@charset "utf-8";
/* CSS Document */

/*html {
	overflow:hidden;
	box-sizing: border-box;
}
body {
	height:100vh;
	margin :0px;
overflow-y:auto;
overflow-x:hidden;
-webkit-overflow-scrolling: touch;
perspective:1px;
-webkit-perspective:1px;
}*/


/*
h2 {
	transform: translateZ(-4.5px) scale(4.5);
	-webkit-transform: translateZ(-4.5px) scale(4.5);
	position:relative;
	top:10em;
	width:100%;
	text-align:center;
}

img {
	width:100%;
	display:block;}
	
.parralax{
	transform-style:preserve-3d;
	-webkit-transform-style: preserve 3d;
}

.back {
	transform: translateZ(-1px) scale(2);
	-webkit-transform: translateZ(-1px) scale(2);
	position:relative;
	top:calc(((100vh - 90vw)/4)* 2)}
	
.front {
	background-color:#ccc;
	padding: 14em 1em;
	z-index: 2px;
	position:relative;
}
	

/*

/*.parallax {
	perspective: 1px;
height:100vh;
width: 900px;
overflow-x:hidden;
overflow-y:auto;
}*/
body{margin:0px;
overflow-x:hidden;}

.pull-left{
	position:relative;
	left:40px;
	top:50px;}
	
		  
.artw {
height: 40vh;
width: 100%;
background-color:#dcdcdc;
/*opacity:0.6;*/
background-size:cover;
display:table;
background-attachment:fixed;
}	
	
.country_1 {
height: 150vh;
width: 100%;
/*background-image:url(AboutMe/china.jpg);*/
background-color:#dcdcdc;
background-size:cover;
display:table;
background-attachment:fixed;
}


/*.para {
	transform: translateX(500px);}*/
#home {
	position:relative;
	width:10px;
	height:20px;
	/*background:#C66;*/
	display:inline-block;
	right:200px;
	bottom:4px;
	text-decoration:none;
	    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .3s, line-height .3s;
	line-height:150px;}
#home:before{
	font-family:FontAwesome;
	content:"\f015";
	font-size:30px;
	color:white;}
	
.scrolled-nav .homeim  {
  height: 3em;
  line-height: 4em;
}	
	
	
	#global-nav {
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 140px;
  width: 100%;
  background: #324c5f;
  color: #fff;
  line-height: 150px;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}

.site-title {
  display: inline-block;
  /*-webkit-transition: all .5s;
    transition: all .5s;*/
	 -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s
}

.scrolled-nav .site-title  {
  height: 18px;
  line-height: 10px;
}

	
.nav-list {
  list-style: none;
}

.nav-list li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
}


.scrolled-nav {
  height: 80px !important;
  line-height: 110px !important;
}

.counter {
  width: 20px;
  height: 20px;
  background: black;
  color: #fff;
  position: fixed;
  top: 120px;
  right: 0;
}

	
	
.i1_c1{
	width:300px;
	height:300px;
	float:left;
	/*background-color:black;*/
	position:relative;
	top:250px;
	left:230px;
	
}

.i2_c1{
	width:300px;
	height:300px;
	float:right;
	/*background-color:green;*/
	position:relative;
	top:500px;
	right:470px;}
	
.i3_c1{
	width:300px;
	height:300px;
	float:right;
	/*background-color:blue;*/
	position:relative;
	top:70px;
	right:170px;}	
	
.text_c1{
	width:290px;
	height:350px;
	float:right;
	border:2px solid steelblue;
	/*background-color:steelblue;*/
	position:relative;
	top:200px;
	right:-450px}
	
.text {
	padding:2px 0px 0px 0px;
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	font-size:12px;
	color:black;
	font-family:"Arial Black", Gadget, sans-serif;
	top:10px;
	left:5%;
	right:2%;
	animation: textmove 4s ease-in;
	position:relative;
	display:block;
	text-align:justify;}
	
@keyframes textmove{
	/*from{transform:translateX(0px);}
	to{transform:translateX(70px);}}*/
	0% { width:0%;}
	100%{width:100%;}}

.country_2 {
height: 150vh;
width: 100%;
background-color:#dcdcdc;
background-size:cover;
display:table;
background-attachment:fixed;

}


.i1_c2{
	width:300px;
	height:300px;
	float:left;
	/*background-color:black;*/
	position:relative;
	top:250px;
	left:230px	
}

.i2_c2{
	width:300px;
	height:300px;
	float:right;
	/*background-color:green;*/
	position:relative;
	top:500px;
	right:470px;}
	
.i3_c2{
	width:300px;
	height:300px;
	float:right;
	/*background-color:blue;*/
	position:relative;
	top:70px;
	right:170px;}	
	
.text_c2{
	width:290px;
	height:330px;
	float:right;
	border:2px solid #99CED4;
	/*background-color:#99CED4;*/
	position:relative;
	top:200px;
	right:-450px}
	
.country_3{
height: 150vh;
width: 100%;
background-color:#dcdcdc;
background-size:cover;
display:table;
background-attachment:fixed;
}


#i3{
	width:350px;
	transform:rotate(-90deg);}
	
.i1_c3{
	width:300px;
	height:400px;
	float:left;
	/*background-color:black;*/
	position:relative;
	top:250px;
	left:150px;
}


.i2_c3{
	width:320px;
	height:300px;
	float:right;
	/*background-color:green;*/
	position:relative;
	top:500px;
	right:470px;}
#i2_c3{
	whidth:100%;}
#i2_c3{
	whidth:100%;}	
	

		
	
.i3_c3{
	width:340px;
	height:250px;
	float:right;
	background-color:blue;
	position:relative;
	top:50px;
	right:160px;}
	
.text_c3{
	width:280px;
	height:330px;
	float:right;
	border:2px solid #606060;
	/*background-color:#606060;*/
	position:relative;
	top:200px;
	right:-500px}
	
.country_3_1{
height: 80vh;
width: 100%;
background-color:#dcdcdc;
background-size:cover;
display:table;
background-attachment:fixed;
}	
	
.text_c_3{
	width:500px;
	height:210px;
	float:left;
	border:2px solid #606060;
	/*background-color:#606060;*/
	position:relative;
	top:10px;
	right:-380px}	
	

.country_4{
height: 100vh;
width: 100%;
background-color:#dcdcdc;
background-size:cover;
display:table;
background-attachment:fixed;
}

	
.i1_c4{
	width:250px;
	height:250px;
	float:left;
	background-color:black;
	position:relative;
	top:300px;
	left:250px;
}

.i2_c4{
	width:250px;
	height:250px;
	float:right;
	background-color:green;
	position:relative;
	top:500px;
	right:550px;}
	
.i3_c4{
	width:250px;
	height:250px;
	float:right;
	background-color:blue;
	position:relative;
	top:100px;
	right:300px;}	
	
.text_c4{
	width:485px;
	height:200px;
	float:right;
	border:2px solid #606060;
	/*background-color:#606060;*/
	position:relative;
	top:200px;
	right:390px}
	
.country_5{
height:  150vh;
width: 100%;
background-color:#dcdcdc;
background-size:cover;
display:table;
background-attachment:fixed;
}

	
.i1_c5{
	width:300px;
	height:300px;
	float:left;
	/*background-color:black;*/
	position:relative;
	top:250px;
	left:230px;
	
}

.i2_c5{
	width:300px;
	height:300px;
	float:right;
	/*background-color:green;*/
	position:relative;
	top:500px;
	right:470px;}
	
.i3_c5{
	width:300px;
	height:300px;
	float:right;
	/*background-color:blue;*/
	position:relative;
	top:70px;
	right:170px;}	
	
.text_c5{
	width:290px;
	height:360px;
	float:right;
	border: 2px solid #cdab7e;
	/*background-color:#cdab7e;*/
	position:relative;
	top:200px;
	right:-450px}
img{
	width:100%;
	height:100%;
	image-orientation:from-image;
	/*border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	transform:rotate(90deg)F*/}
	
	

.country_6{
height: 150vh;
width: 100%;
background-color:#dcdcdc;
background-size:cover;
display:table;
background-attachment:fixed;
}


	
.i1_c6{
	width:300px;
	height:300px;
	float:left;
	/*background-color:black;*/
	position:relative;
	top:250px;
	left:200px;
}


.i2_c6{
	width:300px;
	height:300px;
	float:right;
	/*background-color:green;*/
	position:relative;
	top:500px;
	right:470px;}
	
#i2_c6_01{
	width:300px;
	height:300px;
	float:right;
	/*background-color:green;*/
	position:relative;
	top:600px;
	right:470px;}
	

		
	
.i3_c6{
	width:300px;
	height:300px;
	float:right;
	/*background-color:blue;*/
	position:relative;
	top:10px;
	right:170px;}	
	
.text_c6{
	width:315px;
	height:350px;
	float:right;
	/*background-color:steelblue;*/
	position:relative;
	top:200px;
	right:-460px;
	border:2px solid steelblue;}
#i_c6{
	width:100%;
	height:auto;
}

#i2_c6{
	width:100%;
	height:auto;
}
	

h1 {
	text-align:center;
	margin:0px;
	display:table-cell;
	color:white;
	vertical-align:middle;
}

/*S
.content {
	float:right;
	width: 50px;
	height:20px;
	background-color:#F06;
	}*/